<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <img style="width: 100%" class="logoPokemon" src="~/images/emDesenvolvimento.jpg" />
    </div>
    <div class="col-md-2"></div>
</div>