@{
    ViewBag.Title = "Sobre";
}

<h2>@ViewBag.Title.</h2>
<h3 class="text-center">@ViewBag.Message</h3>

<p class="text-center">Desenvolvimento WEB e uma area rica em vagas no mercado de trabalho.</p>
