@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Estr. dos Alvarengas, 4001 <br />
    Alvarenga <br />
    São Bernardo do Campo, SP 09850-550<br />
    <abbr title="Telefone">Telefone:</abbr>
    (11) 4359-6565
</address>

<address>
    <strong>Pagina:</strong>   <a href="http://www.cefsa.org.br/home/">www.cefsa.org.br</a><br />
    <strong>Meu Curriculo:</strong> <a href="https://luizgustavo77.github.io/CV/index.html">luizgustavo77.github.io/CV/</a>
</address>