<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/images/pokebola.png">
    <title>Error</title>
</head>
<body>
    <hgroup>
        <br />
        <img class="error" src="~/images/Error.gif"/>
    </hgroup>
</body>
</html>
